[Unit]
Description=btrroll
After=initrd-root-device.target
BindsTo=initrd-root-device.target
Before=sysroot.mount
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/btrroll
StandardOutput=tty
StandardInput=tty
RemainAfterExit=yes
Environment="TERMINFO=/lib/terminfo"

[Install]
RequiredBy=sysroot.mount
